<nav>
    <ul>
        <li>
            <a href="{{ '' | relative_url }}" style="color: white;">Home</a> |
            <a href="{{ '/people/' | relative_url }}" style="color: white;">People</a> |
            <a href="{{ '/visualizations/' | relative_url }}" style="color: white;">Visualizations</a> |
            <a href="{{ '/map/' | relative_url }}" style="color: white;">Map</a> |
            <a href="{{ '/contact/' | relative_url }}" style="color: white;">Contact</a>
        </li>
    </ul>
</nav>
